@import '../vars.scss';

.footer {
   background: $dark-0;
   color: $light-1;
   
   .subtotal {
      padding: 5px 15px;
      background: rgb(254, 129, 0, .8);      
      font-weight: bold;
      text-transform: uppercase;
   }
}